{% extends "base.html.twig"%}
{% block Title %}crée un compte {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">Le Blog de Batman</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <h2 class="text-center my-4">
                    Créer un compte
                </h2>
            </div>
    </div>
        <div class="row">
            <div class="col-12 col-md-4 mx-auto">

                {{ form_start( registrationForm) }}

                {{ form_errors( registrationForm) }}

                {{ form_row( registrationForm.email) }}

                {{ form_row( registrationForm.pseudonym) }}

                {{ form_row( registrationForm.plainPassword ) }}


                <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>

                {{ form_row( registrationForm.save) }}
            {{ form_end( registrationForm) }}

            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}